<% if(users.length){ users.map((user,i) => { %>
<tr> 
  <th scope="row"><%= i+1 %></th>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td>
  <td style="width: 30%"><%= user.email %></td>
  <td><%= user.gender %></td>
  <td><%= user.status %></td>
  <td>
    <a href="/edit-user?id=<%= user._id %>" class="btn btn-outline-secondary btn-sm me-2" tabindex="-1" role="button">
      <i class="fas fa-user-edit"></i>
    </a>
    <a class="btn btn-outline-danger btn-sm deleteUser" data-id="<%= user._id %>" tabindex="-1" role="button">
      <i class="fas fa-user-times"></i>
    </a>
  </td>
</tr> 
<% })}else{ %>
 <h5 class="text-muted">Not found users</h1>
<% } %>
